/* HEADER - INTRO */
.container-1 {
    display: flex;
    flex: 1;
    display: -ms-flexbox;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffc0cb;
    background-color: slategrey;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    line-height: 1.6;
    font-size: 24px;
    text-align: start;
    margin: auto;
    border-style: solid 8px;
    flex-basis: 50%;
    flex-direction: row;
    align-self: start;
    align-items: flex-start;
    
}
   
.img {
  max-width: 550px;
}
.head {
    display: flex;
    flex-direction: column;
    flex:1;
    order: 1;
    padding: 20px;
    flex-wrap: wrap;
   
}
.about {
    
  flex: 1;
  order: 2;
  padding: 20px;
  text-align: center;
  flex-wrap: wrap;
}

a:link {
    text-decoration: none;
    color: #ffc0cb;
}
a:hover {
    color: tomato;
    font-weight: 800; 
}
a:visited {
    text-decoration: none;
    color: tomato;
   
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background-color: slategrey;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 6px;
}

.footer {
  text-align: center;
}

/* Create five equal columns that sits next to each other */
.column {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  max-width: 20%;
  padding:  8px;
  font-size: 25px;
  color: antiquewhite;
  text-align: center;
}

.column img {
  margin-top: 8px;
  vertical-align: top;
  width: 50%;
}

/* Responsive layout - makes a three column-layout instead of five columns */
@media screen and (max-width: 900px) {
  .column {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
    align-items: left;
  }

  .container-1 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    align-items: center;
    display: flex;
  }

  .head {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    flex-direction: column;
    padding: 0px;
    align-items: center;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    align-items: center;
  }
  .container-1 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    margin: 10px;
    align-items: center;
    display: flex;
    position: relative;
  }

  .head {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    align-items: center;
  }
}